/* FONT  STYLES */
@font-face
{
    font-family: 'raleway';
    src: url('../P2_04_FONT/raleway/Raleway-Regular.ttf') format('ttf');
}

body{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

/* HEADER + NAV */
header{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
header :nth-child(1){
    flex-grow: 1;
}
.logo, .box-inscription{
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    text-align: center;
}
nav div{
    padding: 0px 10px 0px 10px;
}
.nav-link:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC ;
}
.box-inscription{
    padding: 0px 30px 0px 10px;
    
}
@media all and (max-width:768px){
    nav{
        order: 3;
        width: 100%;
    }
    .nav-link{
        width: 50%;;
        border-bottom: solid 3px rgb(211, 205, 205);
    }
    .nav-link:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC ;;
    }
}

/* SECTION SEARCH */
.search-section{
    padding: 20px;
}
.search-bar form{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media all and (max-width:768px){
    .search-bar{
        display: flex;
        justify-content: center;
    }
}
.search-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.search-input
{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}
.search-input input
{
    padding: 0;
    border: none;
    height: 100%;
    padding: 15px;
    width: 250px;
}
.search-input input::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
button{
    background-color: white;
    border-style: none;
}
.search-button
{
    background-color: #0065FC;
    height: 100%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

@media all and (max-width:768px){
    .text-button{
        display: none;
    } 
    .icone-button-mobile{
        padding: 5px;
    }
}
@media all and (min-width:768px){
    .icone-button-mobile{
        display: none;
    }
    .text-button{
        width: 110px;
    }
}

.search-input button
{
    padding: 0;
    border: none;
    height: 100%;
    padding: 15px;
    width: 250px;
}
.search-input button:placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
.search-button button
{
    background-color: #0065FC;
    height: 100%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

/* FILTERS */
.filter-container{
    display: flex;
    flex-flow: row wrap;
}
.filter-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
	border-style: solid solid solid hidden;
	border-width: 2px;
	border-radius: 18px;
	border-color: #F2F2F2;
	padding-right: 10px;
	margin: 10px; 
}
.filter-button:hover{
    background-color: #DEEBFF;
}
.filter-button-icon{
    display: flex;
    justify-content: center;
    border-style: none;
    background-color: #DEEBFF;
    border-radius: 20px;
    padding: 12px;
    width: 20px;
}
.filter-button-text{
   padding-left: 15px;
   padding-right: 15px;
    
}
.container-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-icone-infos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #F2F2F2 1px;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    margin: 10px;
}

/* SECTION HEBERGEMENTS*/
.container-hebergement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
@media all and (max-width:1080px){
    .container-hebergement{
        flex-flow: column-reverse; }
}
.section-articles-main{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 20px;
}
.section-articles-main, aside{
    background-color: #F2F2F2;
    border: hidden;
    border-radius: 18px;
    padding: 20px;
}
@media all and (max-width:1080px){
    .section-articles-main{
        background-color: white;
    }
}
.container-articles-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container-articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.box-hebergements{
    border: solid white;
	border-width: 2px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	margin: 10px;
    width: 250px;
}
@media all and (max-width:768px){
    .box-hebergements{
        width: 350px;
    }
}

.picture{
	height: 120px;
	background-position: center;
    background-size: cover;
    width: 100%;
}

.box-content{
    padding: 5px 5px 5px 15px;
    line-height: 3px;
    width: 100%;
    background-color: white;
}
/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
}
@media all and (max-width:768px){
    aside{
        border-radius: 0px;
    }
}

.aside-article-container{
    display: flex;
    flex-direction: column;
}
@media all and (max-width:1080px){
    .aside-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:space-around;
    }
    .aside-article-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
.aside-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.aside-title :nth-child(1){
    flex-grow: 1;
}
.box-hebergements-aside{ 
    display: flex;
    flex-direction: row;
    border: solid white;
	border-width: 2px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    width: 350px;
    margin: 15px;
}
.picture-aside{
	height: 160px;
	background-position: center;
    background-size: cover;
    width: 100%
}
.box-content-aside{
    padding: 5px 5px 20px 15px;
    line-height: 15px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* SECTION ACTIVITÉS */
.section-activites{
    display: flex;
    flex-direction: column;
}
.activites-title{
    padding-left: 20px;
}
.container-col-activites{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.col-activites{
    display: flex;
    flex-direction: column;
}
.col-2{

    justify-content: space-around;
}
.box-activites{
    border: solid white;
	border-width: 2px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
	margin: 10px;
    width: 300px;
    height: 400px;
}
.half{
    height: 180px;
}

.picture-activites{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 85%;
}
.small-pic{
    height: 70%;
}
@media all and (max-width:768px){
    .box-activites{
        height: 180px;
        width: 350px;
    }
    .picture-activites{
        height: 70%;
    }
}
/*Footer*/
footer{
    background-color: #F2F2F2;
    display: flex;
}
@media all and (max-width:768px){
    footer{
        flex-direction: column;
    }
}
footer div{
    flex-grow: 1;
    padding-left: 20px;
}

/*COLORS*/
.blue-reservia
{
    color: #0065FC;
}
.clear-reservia
{
    color: #DEEBFF;
}
.grey-reservia
{
    color: #F2F2F2;
}


